TCHATIA BITMAP "icons\\TChatIA.bmp"
TCONVERSAIA BITMAP "icons\\TConversaIA.bmp"
TPROVEDOROPENAI BITMAP "icons\\TProvedorOpenAI.bmp"
TPROVEDORANTHROPIC BITMAP "icons\\TProvedorAnthropic.bmp"
TPROVEDORGEMINI BITMAP "icons\\TProvedorGemini.bmp"
